    .carousel {
        padding: 81px 0;
        &__inner {
            position: relative;
            width: 750px;
            margin: 0 auto;
        }
    .tns-nav {
        button{
            display: block;
        }  
    }
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        } 
    }
    .next {
        right: -66px;
        left: auto;
    }
    .tns-item {
        img {
            display: block;
            margin: 0 auto;
        }
    }
    
        button {
            background-color: #fff;
            margin-right: 5px;
            width: 15px;
            height: 6px;
            
        }
        .tns-nav-active {
            background-color: rgb(132, 132, 132);
            width: 20px;
            height: 8px;
            
        }
    }
