@media (max-width: 1200px) {
    .promo {
        max-height: 500px;
        padding-top: 34px;
        &__icon {
            img {
                width: 33%;
            }
        }
    }
    .header {
        &__logo {
                img {
                    width: 100%;
            }
        }
    }

    .benefits {
        padding: 70px 0 80px 0; 
        &__wrapper {
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        &__item {
            max-width: 277px;
        }
        &__subtitle {
            margin-top: 35px;
            font-size: 18px;
        }
        &__descr {
            margin-top: 20px;
            font-size: 14px;
        }
    .title {
        font-size: 30px;
    }

    }
    
}
@media (max-width: 991px) {
    .promo {
        max-height: 450px;
        padding: 34px 30px;
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        }
        &__header {
            font-size: 36px;
            line-height: 10px;
        }
        &__subheader {
            font-size: 21px;
        }
            &__logo {
                img {
                    width: 100%;
            }
        }
        &__icons {
            margin-top: 45px;
            width: 414px;
        }
        &__icon {
            width: 120px;
            img {
                width: 35%;
            }
            
        }
    .button {
        &_main {
            margin-top: 66px;
        }
        &__link {
            margin-top: 14px;
        }
    }
}

    .benefits {

        max-height: 300px;
        padding: 50px 0 40px 0;
        &__wrapper {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        &__item {
            margin: 36px;
            max-width: 260px;

        }
        &__subtitle {
            margin-top: 25px;
            font-size: 17px;
        }
        &__descr {
            margin-top: 10px;
            font-size: 14px;
    }
    .title {
        margin: 0 auto;
        font-size: 28px;
    }
}
}
@media (max-width: 767px) {
    .promo {
        padding: 40px 48px;
        max-height: 400px;
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
        }
        &__link {
            margin-top: 10px;
            font-size: 14px; 
        }
        &__header {
            font-size: 32px;
        }
        &__subheader {
            font-size: 19px;
            margin-top: 12px;
        }
        &__icons {
            margin-top: 40px;
            width: 380px;
        }
        &__icon {
            font-size: 13px;
            width: 117px;
            img {
                width: 33%;
            }
        }
    .header { 
        &__phone {
            font-size: 14px;
        }  
        &__official {
            display: none;
            span {
                font-size: 13px;
            }
        }
        &__logo {
            img {
                width: 80%
            }     
    }
    }
}

    .button {
        width: 132px;
        height: 30px;
    }
        .button_main {
            margin-top: 60px;
            width: 240px;
            height: 50px;
            font-size: 15px;
        }
    
    .benefits {
        padding-top: 55px;
        min-height: 775px;
        &__wrapper {
            padding: 42px;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin: 10px;
            max-width: none;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__descr {
            font-size: 14px;
    }
    .title {
        font-size: 27px;
        }
}
}

@media (max-width: 575px) {
    .promo{
        min-height: 400px;
        padding: 15px 15px 20px 15px;
        &__wrapper {
            margin-top: 45px;
        }
        &__header {
            font-size: 21px;
        }
        &__subheader {
            font-size: 12px;
            margin: 0;
        }
        &__icons {
            margin-top: 35px;
            width: 220px;
        }
        &__icon {
            font-size: 9px;
            width: 69px;
            img {
                width: 35%;
            }
        }
        &__link {
            margin-top: 0px;
            font-size: 11px;
        }
        .header {
            &__logo {
                img {
                    width: 80%
                }     
            }
            &__official {
                display: none;
            }
            &__phone {
                font-size: 12px;
            }

        }
    }
    .button {
        width: 109px;
        height: 25px;
        font-size:10px;
        &_main {
            margin-top: 69px;
            width: 150px;
            height: 35px;
            font-size: 10px;
        }
    }

    .benefits {
        padding: 30px 0 10px 0;
        min-height: 630px;
        &__subtitle {
            margin-top: 12px;
            font-size: 16px;  
        }
        &__descr {
            margin-top: 5px;
            font-size: 10px;
        }
        &__wrapper {
            padding: 20px;
            flex-direction: column;
            align-items: center;
        }
    .title {
        font-size: 20px;
    }
}
}



    