@media (max-width: 1200px) {
    .promo {
        min-height: 600px;;
        padding-top: 34px;
        &__icon {
            img {
                width: 33%;
            }
        }
    }
    .header {
        &__logo {
                img {
                    width: 100%;
            }
        }
    }

    .benefits {
        padding: 70px 0 80px 0; 
        &__wrapper {
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        &__item {
            max-width: 273px;
        }
        &__subtitle {
            margin-top: 35px;
            font-size: 18px;
        }
        &__descr {
            margin-top: 20px;
            font-size: 14px;
        }
    .title {
        font-size: 30px;
    }
    }
    .consultation {
        min-height: 600px;
        padding: 80px;
    .title {
    &_left {
        font-size: 28px;
        line-height: 45px;
    }
    }
    .feed-form {
        width: 300px;
    }
    }    
}
@media (max-width: 991px) {
    .promo {
        min-height: 600px;
        padding: 34px 30px;
        &__link {
            margin-top: 12px;
        }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        }
        &__header {
            font-size: 36px;
            line-height: 10px;
        }
        &__subheader {
            font-size: 21px;
        }
            &__logo {
                img {
                    width: 100%;
            }
        }
        &__icons {
            margin-top: 45px;
            width: 414px;
        }
        &__icon {
            width: 120px;
            img {
                width: 35%;
            }
        }
        }
    .button {
        &_main {
            margin-top: 66px;
            width: 290px;
            height: 50px;
        }
        &__link {
            margin-top: 14px;
        }
        &_submit {
            margin-bottom: 10px;
            height: 55px;
    }
    
}

    .benefits {
        min-height: 420px;
        padding: 40px 0 0 0;
        &__wrapper {
            margin-top: 15px;
            padding: 0 20px 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        &__item {
            margin: 2px;
            max-width: 220px;

        }
        &__subtitle {
            margin-top: 25px;
            font-size: 16px;
        }
        &__descr {
            margin-top: 10px;
            font-size: 13px;
    }
    .title {
        margin: 0 auto;
        font-size: 28px;
    }
    }
    .consultation {
        min-height: 550px;
        padding: 60px;
        &__descr {
            font-size: 18px;
        }
    .title {
    &_left {
        font-size: 25px;
        line-height: 38px;
    }
    }
    .feed-form {
        width: 300px;
    input {
        height: 50px;
        margin-bottom: 11px;
        font-size: 13px;
    }   
    }
}
}
@media (max-width: 767px) {
    .promo {
        padding: 40px 48px;
        min-height: 550px;
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
        }
        &__link {
            margin-top: 10px;
            font-size: 14px; 
        }
        &__header {
            font-size: 32px;
        }
        &__subheader {
            font-size: 19px;
            margin-top: 12px;
        }
        &__icons {
            margin-top: 40px;
            width: 380px;
        }
        &__icon {
            font-size: 13px;
            width: 117px;
            img {
                width: 33%;
            }
        }
    .header { 
        &__phone {
            font-size: 14px;
        }  
        &__official {
            display: none;
            span {
                font-size: 13px;
            }
        }
        &__logo {
            img {
                width: 80%
            }     
    }
    }
}

    .button {
        width: 132px;
        height: 30px;
        &_main {
            margin-top: 60px;
            width: 240px;
            height: 50px;
            font-size: 15px;
        }
        &_submit {
            width: 100%;
            height: 48px;
        }
    }
    
    .benefits {
        padding-top: 55px;
        min-height: 790px;
        &__wrapper {
            padding: 33px 60px 40px 60px;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin: 10px;
            max-width: none;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__descr {
            font-size: 15px;
            br {
                display: none;
            }
    }
    .title {
        font-size: 27px;
        }
}
    .consultation {
        min-height: 500px;
        padding: 70px;
        &__descr {
            font-size: 16px;
        }
    .title {
    &_left {
        font-size: 20px;
        line-height: 30px;
    }
    }
    .feed-form {
        margin-top: 27px;
        width: 270px;
    input {
        height: 45px;
        margin-bottom: 8px;
    }   
    }
    }
}

@media (max-width: 575px) {
    .promo{
        min-height: 400px;
        padding: 15px 15px 20px 15px;
        &__wrapper {
            margin-top: 45px;
        }
        &__header {
            font-size: 21px;
        }
        &__subheader {
            font-size: 12px;
            margin: 0;
        }
        &__icons {
            margin-top: 35px;
            width: 220px;
        }
        &__icon {
            font-size: 9px;
            width: 69px;
            img {
                width: 35%;
            }
        }
        &__link {
            margin-top: 0px;
            font-size: 11px;
        }
        .header {
            &__logo {
                img {
                    width: 80%
                }     
            }
            &__official {
                display: none;
            }
            &__phone {
                font-size: 12px;
            }

        }
    }
    .button {
        width: 109px;
        height: 25px;
        font-size:10px;
        &_main {
            margin-top: 69px;
            width: 150px;
            height: 35px;
            font-size: 10px;
        }
        &_submit {
            width: 200px;
            height: 35px;
            margin-top: 5px;
        }
    }

    .benefits {
        padding: 30px 0 10px 0;
        min-height: 630px;
        &__subtitle {
            margin-top: 12px;
            font-size: 16px;  
        }
        &__descr {
            margin-top: 5px;
            font-size: 10px;
        }
        &__wrapper {
            padding: 0 40px 25px 40px;
            flex-direction: column;
            align-items: center;
        }
    .title {
        font-size: 20px;
    }
}
    .consultation {
        min-height: 370px;
        padding: 40px 30px 20px 30px;
        &__descr {
            font-size: 12px;
        }
    .title {
    &_left {
        font-size: 15px;
        line-height: 20px;
        br {
            display: none;
        }
    }
}
    .feed-form {
        margin-top: 27px;
        width: 230px;
    input {
        height: 30px;
        margin-bottom: 7px;
        font-size: 9px;
        width: 200px;
    }   
    }
    }
}



    