@media (max-width: 1200px) {
    .promo {
        min-height: 600px;
        padding-top: 34px;
        &__icon {
            img {
                width: 33%;
            }
        }
    }
    .header {
        &__logo {
                img {
                    width: 100%;
            }
        }
    }

    .benefits {
        padding: 70px 0 80px 0; 
        &__wrapper {
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        &__item {
            max-width: 273px;
        }
        &__subtitle {
            margin-top: 35px;
            font-size: 18px;
        }
        &__descr {
            margin-top: 20px;
            font-size: 14px;
        }
    .title {
        font-size: 30px;
    }
    }
    .consultation {
        min-height: 600px;
        padding: 80px;
    .title {
    &_left {
        font-size: 28px;
        line-height: 45px;
    }
    }
    .feed-form {
        width: 300px;
    }
    } 
    .carousel {
        min-height: 600px;
        &__inner {
            width: 65%;
    .slick-dots {
            max-width: 100%;
            display: flex;
            justify-content: center;
    }
    .slick-slide {
        img {
            width: 100%;
    }
    }
    .slick-next {
        right: -60px;
    }
    }   
}
    .modal {
        top: 65%;
    }
}
@media (max-width: 991px) {
    .promo {
        min-height: 600px;
        padding: 34px 30px;
        &__link {
            margin-top: 12px;
        }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        }
        &__header {
            font-size: 36px;
            line-height: 10px;
        }
        &__subheader {
            font-size: 21px;
        }
            &__logo {
                img {
                    width: 100%;
            }
        }
        &__icons {
            margin-top: 45px;
            width: 414px;
        }
        &__icon {
            width: 120px;
            img {
                width: 35%;
            }
        }
        }
    .button {
        &_main {
            margin-top: 66px;
            width: 290px;
            height: 50px;
        }
        &__link {
            margin-top: 14px;
        }
        &_submit {
            margin-bottom: 10px;
            height: 55px;
    }
        &_submit {
            height: 50px;
        }
    
}

    .benefits {
        min-height: 420px;
        padding: 40px 0 0 0;
        &__wrapper {
            margin-top: 15px;
            padding: 0 20px 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        &__item {
            margin: 2px;
            max-width: 220px;

        }
        &__subtitle {
            margin-top: 25px;
            font-size: 16px;
        }
        &__descr {
            margin-top: 10px;
            font-size: 13px;
    }
    .title {
        margin: 0 auto;
        font-size: 28px;
    }
    }
    .consultation {
        min-height: 550px;
        padding: 60px;
        &__descr {
            font-size: 18px;
        }
    .title {
    &_left {
        font-size: 25px;
        line-height: 38px;
    }
    }
    .feed-form {
        width: 300px;
    input {
        height: 50px;
        margin-bottom: 11px;
        font-size: 13px;
    }   
    }
}
    .carousel {
        min-height: 600px;
        &__inner {
            
        }

    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 40px 0 40px;
    }
    li {
        margin: 5px;
        list-style-type: none;
    }

    button {
        width: 20px;
        height: 7px;
        font-size: 0;
        background-color: rgb(168, 168, 168);
    }
    .slick-slide {
        img {
            width: 100%;
    }
    }        
}
    .catalog {
        &__content {
            margin-top: 45px;
        }
        &__tabs {
            margin-top: 45px;
        }
        &__tab {
            width: 193px;
            height: 50px;
        }
        &__content_active {
            justify-content: center;
        }
        &-item {
            margin: 15px;
        }
    }
    .reviews {
        padding: 0 100px 48px 99px;
        &__descr {
            font-weight: 300;
            font-size: 14px;
    }
    }
    
    .footer {
        &__info {
            width: 415px;
            height: 230px;
            padding: 35px;
        }
    }
    .modal {
        width: 350px;
        min-height: 350px;
        padding: 20px 35px 20px 35px;
        top: 55%;
        left: 50%;
        &__subtitle {
            font-size: 17px;
        }
        &__descr {
            font-size: 13px;
        }
    .feed-form {
        width: 280px;
    }
    }
}
    

@media (max-width: 767px) {
    .promo {
        padding: 40px 48px;
        min-height: 550px;
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
        }
        &__link {
            margin-top: 10px;
            font-size: 14px; 
        }
        &__header {
            font-size: 32px;
        }
        &__subheader {
            font-size: 19px;
            margin-top: 12px;
        }
        &__icons {
            margin-top: 40px;
            width: 380px;
        }
        &__icon {
            font-size: 13px;
            width: 117px;
            img {
                width: 33%;
            }
        }
    .header { 
        &__phone {
            font-size: 14px;
        }  
        &__official {
            display: none;
            span {
                font-size: 13px;
            }
        }
        &__logo {
            img {
                width: 90%
            }     
    }
    }
}

    .button {
        width: 132px;
        height: 30px;
        &_main {
            margin-top: 60px;
            width: 240px;
            height: 50px;
            font-size: 15px;
        }
        &_submit {
            width: 100%;
            height: 50px;
        }
        &_modal {
            width: 100%;
        }
    }
    
    .benefits {
        padding-top: 55px;
        min-height: 790px;
        &__wrapper {
            padding: 33px 60px 40px 60px;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin: 10px;
            max-width: none;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__descr {
            font-size: 15px;
            br {
                display: none;
            }
    }
    .title {
        font-size: 27px;
        }
}
    .consultation {
        min-height: 500px;
        padding: 70px;
        &__descr {
            font-size: 16px;
        }
    .title {
    &_left {
        font-size: 20px;
        line-height: 30px;
    }
    }
    .feed-form {
        margin-top: 27px;
        width: 270px;
    input {
        height: 45px;
        margin-bottom: 8px;
    }   
    }
    label.error {
        margin-bottom: 8px;
        font-size: 12px;
    }
    }
    .carousel {
        min-height: 500px;

        &__inner {
                padding: 42px;
    .slick-dots {
    max-width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .slick-slide {
        img {
            width: 100%;
    }
    }
    }
}
    .catalog {
        &-item {
            margin: 10px;
        }
        &__content {
            margin-top: 35px;
        }
        &__tabs {
            margin-top: 35px;
        }
        &__tab {
            width: 165px;
            height: 45px;
            line-height: 42px;
            font-size: 16px;
    }
}
    .reviews {
        min-height: 800px;
        padding: 0 60px 0 60px;
        &__title {
            font-size: 30px;
            margin-bottom: 40px;
        }
        &__block {
            flex-direction: column;
            align-items: center;
        }
        &__text {
            margin-top: 15px;
            text-align: center;
        }
        &__photo {
            margin: 0;
        }
        &__descr {
            font-size: 16px;
        }
    }

    .footer {
        &__info {
            width: 100%;
            height: 100px;
            padding: 20px;
            display: flex;
            justify-content: space-between;
        }
        &__addr {
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 18px;
    }
        &__phone {
            font-size: 18px;
        }
        &__social-item {
            width: 45px;
            height: 45px;
            margin: 0 12px;
            img {
                width: 55%;
            }
        }
    }
    .modal {
        width: 328px;
        min-height: 328px;
        padding: 20px 25px 20px 25px;
        top: 50%;
        left: 50%;
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 13px;
        }
    .feed-form {
        input {
            height: 45px;
            margin-bottom: 11px;
            :nth-child(3) {
                margin-bottom: 14px;
        }
        &_mt25 {
            margin-top: 20px;
            padding: 0 10px;
            font-weight: 300;
            font-size: 14px;
    }
    }
    }
}
}

@media (max-width: 575px) {
    .promo{
        min-height: 400px;
        padding: 15px 15px 20px 15px;
        &__wrapper {
            margin-top: 25px;
        }
        &__header {
            font-size: 21px;
            &__logo {
                width: 220px;
            }
        }
        &__subheader {
            font-size: 12px;
            margin: 0;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            width: 300px;
        }
        &__icon {
            font-size: 12px;
            margin-bottom: 10px;
            img {
                width: 30%;
            }
        }
        &__link {
            margin-top: 0px;
            font-size: 11px;
        }
        .header {
            &__logo {
                img {
                    width: 80%
                }     
            }
            &__official {
                display: none;
            }
            &__phone {
                font-size: 12px;
            }

        }
    }
    .button {
        width: 109px;
        height: 25px;
        font-size:9px;
 
        &_main {
            width: 150px;
            height: 35px;
            font-size: 10px;
            margin-top: 10px;
        }
        &_submit {
            width: 180px;
            height: 33px;
            margin-top: 5px;
        }
        }
  

    .benefits {
        padding: 30px 0 10px 0;
        min-height: 630px;
        &__subtitle {
            margin-top: 12px;
            font-size: 16px;  
        }
        &__descr {
            margin-top: 5px;
            font-size: 10px;
        }
        &__wrapper {
            padding: 0 40px 25px 40px;
            flex-direction: column;
            align-items: center;
        }
    .title {
        font-size: 20px;
    }
}
    .consultation {
        min-height: 350px;
        padding: 30px;
    .feed-form {
        align-items: center;
        margin-top: 27px;
        width: 100%;
    input {
        height: 32px;
        margin-bottom: 8px;
        font-size: 9px;
        width: 180px;
    }   
    }
        &__descr {
            font-size: 12px;
            text-align: center;
        }
    .title {
    &_left {
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        br {
            display: none;
        }
    }
}
    label.error {
        margin-bottom: 5px;
        font-size: 9px;
    }
    }
    .carousel {
        min-height: 250px;
        padding: 50px 0;
        &__inner {
            padding: 0 40px 0 40px;
        }
    .slick-dots {
        display: flex;
        justify-content: center; 
        align-items: center;
        max-width: 300px;
    }
    .slick-slide {
        img {
            width: 100%;
            margin: 0;
    }
    }
    }
    .catalog {
    .title {
        font-size: 20px;
    }
    &__tabs {
        flex-direction: column;
        margin-top: 25px;
    }
    &__tab {
        margin-bottom: 10px;
        width: 200px;
        height: 52px;
        line-height: 48px;
    }
    }
    .reviews {
        min-height: 800px;
        padding: 0 30px 0 30px;
        &__title {
            font-size: 20px;
}
    &__descr {
        font-size: 16px;
    }
}
    .footer {
        &__info {
            display: block;
            width: 100%;
            height: 100px;
            padding: 15px;
        }
        &__addr {
            margin: 0;
            font-weight: 500;
            font-size: 12px;
    }
        &__phone {
            margin: 3px;
            font-size: 12px;
}
        &__social-item {
            width: 30px;
            height: 30px;
            margin: 0px 5px;
        }
    .place-card {
        .place-card-large {
            padding-bottom: -1px;
        }
    }
    
    }
    .modal {
        top: 50%;
        left: 50%;
        width: 230px;
        min-height: 250px;
        padding: 15px 20px;
        label.error {
            font-size: 10px;
            margin-bottom: 5px;
        }
        
        &__subtitle {
            font-size: 11px;
        }
        &__descr {
            font-size: 10px;
        }
        &__close {
            top: 0px;
            right: 5px;
            font-size: 30px;
            line-height: 22px;
        }

            
    .feed-form {
        &_mt25 {
        font-size: 11px;
        margin-top: 14px;
        width: 180px;
        height: 170px;
        margin-left: 4px;
        }
        input {
            font-size: 10px;
            height: 30px;
            margin-bottom: 8px;
}
        }
            &:nth-child(3) {
            margin-bottom: 5px;
        }
    }

}   
    




